*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
/* Styling header section  */
header{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.1);
    min-width: 500px;
    height: 90vh;
    padding-bottom: 0;
}
.head-text{
    padding:20px 30px;
    width: 100%;
}
.head-text>h1{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.head-text>p{
    padding-top: 30px;
    padding-right: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
}
.head-img{
    width: 80%;
    object-position: right bottom;
    margin-bottom: 0;
    padding-bottom: 0;
}
button{
    margin-top: 30px;
    border-radius: 5px;
    background: #E55473;
    color: rgba(255, 255, 255, 1);    
    padding: 20px 35px;
    font-weight: 800;
    border: 0;
    font-size: large;
}
button:hover{
    background-color: #b92d4b;
}